html, body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

button {
  background-color: #63B0CA;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


#menu-bar {
  background: url(https://wallpaperaccess.com/full/2209824.jpg);
  height: 110px;
  text-align: center;
  padding-top: 40px;
}

.title {
  color: #FFFFF3;
  text-align: center;
  font-size: 45px;
  margin: 0;
  font-weight: 100;
  display: inline;
}

#title-fake {
  font-weight: 900;
}

#map-container {
  width: calc(100% - 120px);
  background-color: #566270;
  margin: 60px auto;
  padding: 8px;
  border-radius: 10px;
}

#mapid { 
  height: 380px; 
  border-radius: 7px;
}

#upload-container {
  width: 300px;
  background-color: #566270;
  margin: 60px auto;
  padding: 8px;
  border-radius: 10px;
}

#button-container {
  margin:60px;
  text-align: center;
}
